Library/
Temp/
obj/

.vs/

/Assets/Audio/
/Assets/BrokenVector/
/Assets/Hovl Studio/
/Assets/Low Poly Fire/
/Assets/Basic_RPG_Icons/
/Assets/ExplosiveLLC/
/Assets/Idle MoCap/
/Assets/RPG Button 7/
/Assets/FreeFlyCamera/
/Assets/Blink/
/Assets/GUI_Parts/
/Assets/KayKit Dungeon Pack 1.0/
/Assets/TextMesh Pro/
